.cartDetails{
	text-align: left;
}

.cartTotal{
	padding-left: 20px;
	background-color: #ffdd;
}

.cartTotal :first-child{
	font-weight: bold;
	margin-bottom: 30px;
}

.submit Button{
	background-color: #ffc107;
	border-radius: 0;
	color: #dcdcdc;
	display: block;
	font-family: cursive;
	font-size: large;
	font-weight: bolder;
	margin-top: 10px;
	padding: 20px 0;
	width: 100%;
}

.submit Button:hover{
	background-color: #131212;
}

.total{
 	text-align: left;
}

