
Row, Col{
	padding-left: 0px;
	padding-right: 0px;

}

.footer{
	background-color: #4d342d;
	font-size: small;
	color: #dcdcdc;
}


.main{
	height: 100%;
	min-height: 100%;
	font-family: cursive;
	font-weight: bold;
}